##### Converting categorical data into numerical ones so as to train the models ans to get the suiatble outcomes is data encoding

### Types of Data Encoding
### 1 - Nominal/OHE Encoding
### 2 - Label and Ordinal Encoding
### 3 - Traget Guided Ordinal Encoding

## 1- nominal encoding
#### each category is represented as a binary vector i.e suppose i have a feature color and i have three types of colors then, 
##### blue = [1,0,0]
##### green = [0,1,0]
##### yellow = [0,0,1]

#### disadvantages - suppose i have large number of categories then it will create than many number of features
#### - sparce matrix - whenever i have a large number of 1s and 0s data my model gets extensively trained over my data phenomena known as overfitting.

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [31]:
data = pd.DataFrame({
    'color' : ['red', 'blue', 'green', 'blue' , 'yellow', 'red']
})

In [32]:
data.head()

    color
0     red
1    blue
2   green
3    blue
4  yellow

In [5]:
## Create an instance of the OneHotEncoder
encoder = OneHotEncoder()

In [11]:
## perform fit and transform

encoded = encoder.fit_transform(data[['color']]).toarray()

In [12]:
import pandas as pd
encoder_data = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [13]:
encoder_data

   color_blue  color_green  color_red  color_yellow
0         0.0          0.0        1.0           0.0
1         1.0          0.0        0.0           0.0
2         0.0          1.0        0.0           0.0
3         1.0          0.0        0.0           0.0
4         0.0          0.0        0.0           1.0
5         0.0          0.0        1.0           0.0

In [16]:
encoder.transform([['blue']]).toarray()

/Users/vaibhavkale/ML Learnings/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0., 0.]])

In [17]:
pd.concat([data,encoder_data],axis=1)

    color  color_blue  color_green  color_red  color_yellow
0     red         0.0          0.0        1.0           0.0
1    blue         1.0          0.0        0.0           0.0
2   green         0.0          1.0        0.0           0.0
3    blue         1.0          0.0        0.0           0.0
4  yellow         0.0          0.0        0.0           1.0
5     red         0.0          0.0        1.0           0.0

In [25]:
## homework Transform categorical variables to numerical data

import seaborn as sns
data = sns.load_dataset('tips')
print(data.columns)
data

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [27]:
encoded = encoder.fit_transform(data[['sex','smoker', 'day', 'time']]).toarray()

In [28]:
pd.concat([data,pd.DataFrame(encoded,columns=encoder.get_feature_names_out())],axis=1)

,total_bill,tip,sex,smoker,day,time,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,16.99,1.01,Female,No,Sun,Dinner,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,10.34,1.66,Male,No,Sun,Dinner,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,21.01,3.50,Male,No,Sun,Dinner,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,23.68,3.31,Male,No,Sun,Dinner,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,24.59,3.61,Female,No,Sun,Dinner,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,27.18,2.00,Female,Yes,Sat,Dinner,2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,22.67,2.00,Male,Yes,Sat,Dinner,2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,17.82,1.75,Male,No,Sat,Dinner,2,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,18.78,3.00,Female,No,Thur,Dinner,2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

##### Label Encoding 

##### it involves assigning a unique numerical label to each category in the varaible. the labels are usually assigned in alphabetical order or based on the frequency of the categories.

In [35]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [36]:
label_encoder.fit_transform(data[['color']])

/Users/vaibhavkale/ML Learnings/venv/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 0, 3, 2])

In [38]:
label_encoder.transform(['blue'])

array([0])

In [ ]:
### numbers to each category are assigned completely randomly but sometimes model will think that,
### the number with the highest numerical value will have the highest priority that way thats why the ordinal encoding

##### Ordinal Encoding

#### it is used to encode categorical data that have an intrinsic order or ranking. in this technique 
#### each category is assigned a numerical value based on its position in the order. for example, if we have a #### have a categorical varaible "education level" with four possible values "(school, high school, college #### graduate, post-graduate)", we can encode it using ordinal encoding as follows.

#### (1,2,3,4) respectively

In [40]:
from sklearn.preprocessing import OrdinalEncoder
df = pd.DataFrame({
    'size' : ['small' , 'medium' , 'large' , 'medium', 'small', 'large']
})

In [41]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [42]:
ordinal_encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [43]:
ordinal_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

### target guided ordinal encoding
##### in this technique we replace each category in the categorical variable with a numerical value based 
##### on the mean or median of the target variable for that category. this creates a monotonic relationship 
##### between the categorical variable and the target variable, which can improve the predictive power of our 
##### model

In [55]:
import pandas as pd

df = pd.DataFrame({
    'city' : ['delhi', 'london' , 'tokyo', 'delhi', 'mumbai', 'tokyo'],
    'price' : [200,250,150,230,290,300]
})

In [56]:
df

     city  price
0   delhi    200
1  london    250
2   tokyo    150
3   delhi    230
4  mumbai    290
5   tokyo    300

In [57]:
mean_price = df.groupby('city')['price'].mean().to_dict()

In [58]:
mean_price

{'delhi': 215.0, 'london': 250.0, 'mumbai': 290.0, 'tokyo': 225.0}

In [59]:
df['city encoded'] = df['city'].map(mean_price)

In [60]:
df

     city  price  city encoded
0   delhi    200         215.0
1  london    250         250.0
2   tokyo    150         225.0
3   delhi    230         215.0
4  mumbai    290         290.0
5   tokyo    300         225.0

In [62]:
import seaborn as sns 

df = sns.load_dataset('tips')

In [63]:
mean_price = df.groupby('time')['total_bill'].mean().to_dict()

/var/folders/37/lfcwt6tj0fg_c56ytzq6yrv80000gn/T/ipykernel_12370/927007832.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price = df.groupby('time')['total_bill'].mean().to_dict()

In [64]:
mean_price

{'Lunch': 17.168676470588235, 'Dinner': 20.79715909090909}

In [65]:
df['time encoded'] = df['time'].map(mean_price)

In [66]:
df

     total_bill   tip     sex smoker   day    time  size time encoded
0         16.99  1.01  Female     No   Sun  Dinner     2    20.797159
1         10.34  1.66    Male     No   Sun  Dinner     3    20.797159
2         21.01  3.50    Male     No   Sun  Dinner     3    20.797159
3         23.68  3.31    Male     No   Sun  Dinner     2    20.797159
4         24.59  3.61  Female     No   Sun  Dinner     4    20.797159
..          ...   ...     ...    ...   ...     ...   ...          ...
239       29.03  5.92    Male     No   Sat  Dinner     3    20.797159
240       27.18  2.00  Female    Yes   Sat  Dinner     2    20.797159
241       22.67  2.00    Male    Yes   Sat  Dinner     2    20.797159
242       17.82  1.75    Male     No   Sat  Dinner     2    20.797159
243       18.78  3.00  Female     No  Thur  Dinner     2    20.797159

[244 rows x 8 columns]