In [15]:
import sqlite3

In [16]:
## Connect to an SQLite Database
connection = sqlite3.connect('example.db')
connection

In [17]:
##  Creating a cursor
cursor = connection.cursor()

In [21]:
## Create a Table.
cursor.execute('''
CREATE TABLE IF NOT EXISTS STUDENTS(
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    AGE INTEGER,
    DEPARTMENT TEXT
    )
''')

## Commit the changes.
connection.commit()

In [22]:
cursor.execute('''               
SELECT * FROM STUDENTS

''')

In [25]:
## insert the data in sqlite table.

cursor.execute('''
    INSERT INTO STUDENTS(NAME,AGE , DEPARTMENT)
    VALUES('VAIBHAV',22,'BB')               
''')

cursor.execute('''
    INSERT INTO STUDENTS(NAME,AGE , DEPARTMENT)
    VALUES('DIYA',20,'MBBS')               
''')

cursor.execute('''
    INSERT INTO STUDENTS(NAME,AGE , DEPARTMENT)
    VALUES('SUHAS',42,'PHD')               
''')
connection.commit()

In [31]:
## query the data from the table.
cursor.execute('SELECT * FROM STUDENTS')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'VAIBHAV', 34, 'BB')
(3, 'SUHAS', 42, 'PHD')

In [27]:
## update the data in the table.

cursor.execute('''
UPDATE STUDENTS 
SET AGE = 34 
WHERE NAME = 'VAIBHAV'               
''')

connection.commit()

In [30]:
## delete the data from the table.

cursor.execute('''
DELETE FROM STUDENTS
WHERE NAME = 'DIYA'              
''')

connection.commit()

In [38]:
## working on the sales data.

connect = sqlite3.connect('vaibhav.db')
cur = connect.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS vaibhav(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

sales_data = [
    ('2025-01-01','product1',100,'east'),
    ('2025-01-02','product2',200,'west'),
    ('2025-01-03','product3',300,'south'),
    ('2025-01-04','product2',900,'north'),
    ('2025-01-05','product1',400,'east'),
]

cur.executemany('''
INSERT INTO vaibhav(date, product, sales, region)
VALUES(?,?,?,?)                   
''',sales_data)

connect.commit()

In [39]:
cur.execute('SELECT * FROM vaibhav')
rows2 = cur.fetchall()

for row in rows2:
    print(row)

(1, '2025-01-01', 'product1', 100, 'east')
(2, '2025-01-02', 'product2', 200, 'west')
(3, '2025-01-03', 'product3', 300, 'south')
(4, '2025-01-04', 'product2', 900, 'north')
(5, '2025-01-05', 'product1', 400, 'east')

In [40]:
## for closing the connection

connect.close()
connection.close()